@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars while maintaining scrollability */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
